/*Body*/
body{
	margin: 0px;
	font-family: Verdana;
    font-size: 13px;
}

/* Barra de navegación*/
.barraNavegacion{
    width: 100%;
}

.menu{
	text-align: right;
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	overflow: hidden;
    background-color: #222222;
    height: 75px;
}

.li{
	float: right;
}

.li a{ /*Botones de la barra de navegación, por: Alberto y Arantxa*/ 
    display: block;
    color: white;
    text-align: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px 50px;
  	text-decoration: none;
}

.li a:hover{/*Botones de la barra de navegación, por: Alberto*/
    background-color: #038C33;
}

.identidad{/*Logo de la barra de navegación, por: Alberto*/
	float: left;
	display: block;
    color: white;
    text-align: center;
    padding: 7px 26px;
    text-decoration: none;
}

.li a:hover:not(.active) {/*Botones de la barra de navegación, por: Alberto*/
    background-color: #038C33;
}

.activo {
    background-color: #ABD904;
}

.logo{
	width: auto;
	height: auto;
}


/*footer y sus elementos, estilo por: Arantxa*/
#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #222222;
    color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    height: 100px;
    flex-wrap: wrap;
}

#contacto{
    margin-right: 50px;
    text-align: right;
}

p.contacto{
    padding: 0;
    padding-top: 10px;
    margin: 0;
}

ul.integrantes{
    padding-top: 10px;
    list-style-type: square;
    list-style-position: inside;
}

/* Estilo del contenido */
.contenido{
    position: relative;
    top: 75px;
}

.datos{
    background-color: whitesmoke;
    margin-top: -3%;
    width: 80%;
    height: 550px;
    margin-left: 10%;
    margin-right: 10%;
    overflow: scroll;
}

#tablaDatos{
    background-color: white;
    margin-left: 0;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.encabezadoDatos{
    border-bottom: 2px solid darkgrey;
    background-color: #ABD904;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: #222222;
}

.filasDatos{
    border-bottom: 1px dashed lightslategray;
    font-size: smaller;
}

.filasDatos:hover{
    background-color: lightyellow;
    font-size: small;
}

.columnasDatos{
    width: 10px;
    text-align: center;
}

.linkHead{
    text-decoration: none;
    font-size: small;
}

.linkHead:hover{
    color: yellow;
}

