/* Por: Alberto Nieto Rocha */
/* Elementos de la galeria */
body{
    margin: 0px;
    font-family: Verdana;
    font-size: 13px;
    background-color: whitesmoke;
}

.contenido{
  width: 80%;
  height: 74%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  left: 0;
  right: 0;
}

.contenedorNombres{
  width: 45%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  overflow: scroll;
  height: 100%;
  background-color: white;
  font-size: 18px;
}

.tablaNombres{
  width: 100%;
}

.nombres{
  margin: 0px;
  padding: 0px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
}

#galeria{
  width: 55%;
  background-color: white;
  overflow: scroll;
  height: 100%;
}

.filas, .columnas{
  /*border: 1px solid #F2CB05;*/
  text-align: center;
}

.tablaContenido{
  width: 100%;
  text-align: center;
  border: 0px solid #F2E5A0;
  border-collapse: collapse;
}

/* Color y reacciones de los enlaces */
.enlaces:link{
  line-height: bold;
  text-decoration: none;
  color: #038C33;
}

.enlaces:visited{
  line-height: bold;
  text-decoration: none;
  color: #F2CB05;
}

.enlaces:hover{
  line-height: bold;
  text-decoration: none;
  color: gray;
}

.enlaces:active{
  line-height: bold;
  text-decoration: none;
  color: gray;
}

/* Acomodo de las celdas */
.cTitulo{
  font-size: 32px;
  border-bottom: 2px solid #F2CB05;
  background-color: #F2E5A0;
}

.cImagen{
  border-bottom: 2px solid #F2CB05;
}

.cDatos{
  text-align: left;
}

.fDatos{
  text-align: right;
}