/* Por: Alberto Nieto Rocha */
/*Body*/
body{
	margin: 0px;
	font-family: Verdana;
    font-size: 13px;
    background-color: whitesmoke;
}

.formulario{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.contenedorFormulario{
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

.etiquetas{
	width: 100%;
	display: block;
	text-align: left;
	font-weight: bold;
	margin: 4px 0px 4px 0px;
}

.entradaF{
	width: 100%;

}

.areaTexto{
	width: 100%;
	height: 20%;
}

.botonesFContenedor{
	width: 100%;
	text-align: center;
}

.botonesF{
	border-radius: 10px;
	border: none;
	width: 45%;
	background-color: #ABD904;
	color: #000000;
	font-family: verdana;
}

.botonesF:hover{
	background-color: #038C33;
}

.botonesF:active{
	background-color: #F2CB05;
}