/* Por: Arantxa Garayzar Cristerna */
/*footer estilo*/
#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #222222;
    color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    height: 15%;
    flex-wrap: wrap;
}

#contacto{
    margin-right: 50px;
    text-align: right;
}

p.contacto{
    padding: 0;
    padding-top: 10px;
    margin: 0;
}

ul.integrantes{
    padding-top: 10px;
    list-style-type: square;
    list-style-position: inside;
}