/* Por: Alberto Nieto Rocha */
/*Body*/
/* Barra de navegación*/
.barraNavegacion{
    width: 100%;
}

/* Contenedor de la barra de navegación */
.menu{
    text-align: right;
    list-style-type: none;
    margin: 0;
	padding: 0;
    overflow: hidden;
    background-color: #222222;
    height: 70px;
}

/* Poner elementos a la derecha */
.li{
	float: right;
}

/* Botones de la barra de navegación */
.li a{
    display: block;
    color: white;
    text-align: center;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 33px 50px;
    text-decoration: none;
}

/* Hover de los botones en la barra de navegación */
.li a:hover{
    background-color: black;
}

/* Logo del lado izquierdo, diseño general */
.identidad{
    float: left;
	display: block;
    color: white;
    text-align: center;
	padding: 10px 26px;
    text-decoration: none;
}


.li a:hover:not(.active) {
  background-color: #038C33;
  
}

/* Elemento activo */
.activo {
  background-color: #ABD904;
}

/* Dimensiones del logo */
.logo{
	width: auto;
	height: auto;
}