body{
	margin: 0px;
	font-family: Verdana;
	font-size: 13px;
}

.contenedor{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	background-color: #222222;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

form{
	background-color: #FFFFFF;
	width: 60%;
	height: 70%;
	display: flex;
	flex-direction: column;
}

.inicio{
	background-color: #FFFFFF;
	width: 30%;
	display: flex;
	flex-direction: row;
	height: 50%;
	justify-content: center;
	align-items: center;	
	border-radius: 2%;
	border: 1px solid #E1E1E1;
}

.imagen{
	margin-right: auto;
	margin-left: auto;
}

.elementos{

}

input{
	width: -moz-available;
}

.contenedorImagen{
	display: flex;
	text-align: center;
	padding-bottom: 10%;
}

.contenedorElementos{

}

/* Boton iniciar sesion */
.botonIniciar {
	background-color:#abd904;
	border-radius:6px;
	border:1px solid #abd904;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	font-weight:bold;
	margin-top: 10%;
	text-decoration:none;
}
.botonIniciar:hover {
	background-color:#abd904;
}