/*Body*/

body {
    margin: 0px;
    font-family: Verdana;
    font-size: 13px;
    background-image: url(fondomar.jpg);
}


/* Barra de navegación*/

.barraNavegacion {
    width: 100%;
}

.menu {
    text-align: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222222;
    height: 75px;
}

.li {
    float: right;
}

.li a {
    /*Botones de la barra de navegación*/
    display: block;
    color: white;
    text-align: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px 50px;
    text-decoration: none;
}

.li a:hover {
    background-color: #038C33;
}

.identidad {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 26px;
    text-decoration: none;
}

.li a:hover:not(.active) {
    background-color: #038C33;
}

.activo {
    background-color: #ABD904;
}

.logo {
    width: auto;
    height: auto;
}


/*footer estilo*/

#footer {
    position: inherit;
    left: 0;
    bottom: 0%;
    width: 100%;
    background-color: #222222;
    color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    height: 100px;
    flex-wrap: wrap;
}

#contacto {
    margin-right: 50px;
    text-align: right;
}

p.contacto {
    padding: 0;
    padding-top: 10px;
    margin: 0;
}

ul.integrantes {
    padding-top: 10px;
    list-style-type: square;
    list-style-position: inside;
}

.most{
    margin:auto;
    background-color:#fff;
    position:absolute;
    top: 100px;
    padding:0;
    outline:0;
    width:310px;
    right: 100px;
}

.head{
    padding:0.01em 16px;
    background-color:#038C33!important;
    color: #fff !important;
}

.ex{
   border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit; 
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap; 
   position: absolute;
   right: 0;
   top: 0;
}

.img{
    width: 40px;
    height: 40px;
}

table{
    width: 100%;
    text-align: center;
}

.imgtam {
    width: 850px;
    height: 750px;
    margin-left: 15%;
}

.maices{
    
    width: 300px;
    max-height: 300px;
    overflow: auto;
}